<div class="w-full text-center">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl text-left"><%= @service.name %></h1>
    <%= link_to t(:my_events),
      service_events_path(@service),
      class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <p class="block font-medium w-1/2 text-left">
    <%= t(:time_zone) %> <%= current_user.time_zone %>
    <%= link_to t(:change_time_zone), edit_time_zone_path, class: "text-blue-600 text-sm", id: 'time_zone_changer' %>
  </p>

  <div id="slots" class="min-w-full">
    <hr class="mt-5">
    <% @slots.keys.each do |date| %>
      <p class="my-5">
        <div class="flex justify-center">
          <strong class="block font-medium mb-1">
            <%= l date %>
          </strong>
          <%= link_to new_service_date_blocker_path(@service, date: date), class: "text-blue-600 text-sm mx-2", id: 'date_blocker' do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
          <% end if current_user.owns?(@service) %>
        </div>

        <%= render @slots[date] %>
        <hr class="mt-2">
      </p>
    <% end %>
  </div>

  <div class="flex justify-between items-center m-6">
    <%= link_to '←', service_slots_path(@service, date: @date - 7.days), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to '→', service_slots_path(@service, date: @date + 7.days), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
</div>