<div class="w-full text-center">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl text-left">Citas <%= @service.name %></h1>
    <%= link_to 'Mis citas', 
      service_events_path(@service),
      class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <p class="block font-medium w-1/2 text-left">
    Hora <%= current_user.time_zone %>
    <%= link_to "cambiar", edit_time_zone_path, class: "text-blue-600" %>
  </p>

  <div id="slots" class="min-w-full">
    <hr class="mt-5">
    <% @slots.keys.each do |date| %>
      <p class="my-5">
        <strong class="block font-medium mb-1"><%= l date %></strong>
        <%= render @slots[date] %>
        <hr class="mt-2">
      </p>
    <% end %>
  </div>

  <div class="flex justify-between items-center m-6">
    <%= link_to '←', service_slots_path(@service, date: @date - 7.days), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to '→', service_slots_path(@service, date: @date + 7.days), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
</div>