<div class="mx-auto md:w-1/4 w-full">
  <h1 class="font-bold text-3xl text-center"><%= t(:signup)%></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "contents") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="my-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> <%= t(:minimum_characters) %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= f.label :phone %>
      <em>(<%= t(:add_international_code) %>)</em><br />
      <%= f.text_field :phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= f.label :time_zone %><br />
      <%= f.time_zone_select(
        :time_zone,
        nil,
        {
          include_blank: true,
          default: session[:service_time_zone]
        },
        { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true }
      ) %>
    </div>

    <div class="inline">
      <%= f.submit t(:signup), class: "w-full my-5 rounded-lg py-3 px-5 bg-blue-100 text-blue-700 inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
