<div id="<%= dom_id event %>" class="text-center">
  <% unless current_user.owns?(event.service) %>
    <p class="my-2">
      <strong class="block font-large mb-1"><%= event.service.name %></strong>
    </p>
  <% end %>

  <p class="my-2">
    <strong class="block font-medium mb-1">
      <% if event.blocked? %>
        <%= "Cita bloqueada".upcase %>
      <% else %>
        <%= event.user.name.titleize %></br>
        <%= event.user.email + " " + event.user.phone.to_s %>
      <% end %>
    </strong> 
  </p>

  <p class="my-2">
    <strong class="block font-medium mb-1"><%= l event.user_date_time(current_user).to_date %></strong>
  </p>

  <p class="my-2">
    <strong class="block font-medium mb-1">Hora: <%= event.user_date_time(current_user).strftime('%l:%M%P') %> <%= current_user.time_zone %></strong>
  </p>

  <% if action_name == "index" %>
    <div class="flex flex-col items-center">
    <% if current_user.owns?(event.service) %>
      <%  if event.payment.reported? %>
        <%= link_to 'Confirmar pago', edit_payment_path(event.payment), class: "bg-green-100 mt-3 rounded-lg py-3 px-5 font-medium" %>
      <% else %>
        <%= link_to 'Pago pendiente', edit_payment_path(event.payment),
          class: "mt-3 rounded-lg py-3 px-5 bg-yellow-100 font-medium" if event.past? && !event&.payment&.confirmed? %>
      <% end %>
    <% else %>
      <%= link_to 'Reportar pago',
        edit_payment_path(event.payment),
        class: "mt-3 rounded-lg py-3 px-5 bg-green-100 font-medium" if event.payment.pending? %>
    <% end %>
    <%= button_to event.blocked? ? 'Desbloquear esta cita' : 'Cancelar esta cita',
      event_path(event),
      method: :delete,
      form: { data: { turbo_confirm: "¿Confirmas que deseas proceder?" } },
      class: "mt-3 rounded-lg py-3 px-5 bg-red-100 font-medium" unless event.past?
    %>
    </div>
    <hr class="my-6">
  <% end %>
</div>
