<div id="<%= dom_id event %>" class="text-center">
  <% unless current_user.owns?(event.service) %>
    <p class="my-2">
      <strong class="block font-large mb-1"><%= event.service.name %></strong>
    </p>
  <% end %>

  <p class="my-2">
    <strong class="block font-medium mb-1">
      <% if event.blocked? %>
        <%= "Cita bloqueada".upcase %>
      <% else %>
        <% if event.name %>
          <%= event.name.titleize %>
        <% else %>
          <%= event.user.name.titleize %></br>
          <%= event.user.email + " " + event.user.phone.to_s %>
        <% end %>
      <% end %>
    </strong> 
  </p>

  <p class="my-2">
    <strong class="block font-medium mb-1"><%= l event.user_date_time(current_user).to_date %></strong>
  </p>

  <p class="my-2">
    <strong class="block font-medium mb-1">Hora: <%= event.user_date_time(current_user).strftime('%l:%M%P') %> <%= current_user.time_zone %></strong>
  </p>

  <% if action_name == "index" %>
    <%= render partial: "events/actions", locals: {event:} %>
    <hr class="my-6">
  <% end %>
</div>
